/* Topnav */
.topnav{
    display: flex;
    align-items: center;
    background-color: rgb(72, 163, 163);
    padding: 0.5rem 1rem;
}

.topnav a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: sans-serif;
    padding: 1rem 1rem;
    text-align: center;
}

.topnav img {
    height: 40px;
    max-height: 50px;
    width: auto;
}


.admin_navbar {
  margin-left: auto;
}

.admin_navbar a{
    font-size: 1.5rem;
    font-family: sans-serif;
}

/* send inn */

.klage p{
    font-size: 3rem;
    text-align: center;
    font-family: sans-serif;
}