<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <div class="topnav">
        <img src="/static/img/parrot.png" alt="Colorful parrot logo">
        <a class="omoss" href="/">Om oss</a>
        <a class="kontakt" href="/kontakt">Kontakt</a>
        <a class="send" href="/send">Send inn sak</a>
        <a class="admin_navbar" href="/login">Admin</a>
    </div>

    {% block content %}{% endblock %}
</body>
</html>