{% extends "base.html" %}

{% block content%}
<div class="tittel_index">
    <img src="/static/img/pa.png" alt="Two parrots flying">
    <h1>Papegøye & .CO tillater 0% avvik i våres leveranser</h1>
    <p>
        Vi er Norges fremste bransje innen pappegøyer. Vi ønsker kun det beste for våres kunder og derfor har vi en egen side hvor du kan sende inn en sak, hvis du plutselig mottar en hund eller noe lignende. Noe vi absolutt ikke selger. Derfor skal våres kunder alltid ha mulighet til å rapportere problemer direkte til våres ansatte! Denne mottoen er hva som skiller oss ut fra våres konkurranse: Birds and somtimes other things og Dyr som flakser med 10% avvik. Vi godtar ingen avvik, men i den sjeldene sjansen for at det skulle ha skjedd skal du alltid ha mulighet til å rapportere dette inn.
    </p>
</div>

<div class="info_index">
    <p>Her er vi dedikerte og ønsker våres kunder kun det beste til en hver tid. Derfor vil jeg fortelle deg hvorfor du ikke burde handle hos våres motstandere. Visste du at hos "Dyr som flakser med 10% avvik" har en gjennomsnitt på 12,58% avvik, dette er noe de ikke velger å dele med kuundene sine, men heller lyve om og late som om de kun har 10% avvik. "Birds and sometimes other things" satser faktisk på å levere andre ting. Som vil si at det ikke er "somtimes other things", men heller som oftes "other things". Se for deg at du bestiller en pappegøye hos de også mottar du en hund, dette er uakseptabelt her hos oss.</p>
</div>
{% endblock %}