{% extends "base.html" %}

{% block content %}
<div class="tittel_kontakt">
    <h1>Kontakt oss gjerne her</h1>
    <p>Vi er norges fremste bedrift innen kundeservice. Vi ønsker kun å yte den beste service, dermed kan du også kontakte oss via e-mail/telefon da vi muligens ikke gidder å fullføre nettsiden.</p>
    <img src="/static/img/fyr.png" alt="mann som gir tommel opp">
    <p>Dette er grunnleggeren av Papegøye & .CO, han heter Omar og er 32år. I løpet av Livet til Omar har han oppnådd middelmådige ting, noe som inkluderer å lage denne bedriften. Hittil har vi ikke opplevd noe avvik i bedriften, men selv om vi ønsker å være optimistiske å late som det aldri kommer til å skje må vi lage rom for at det som ikke skal skje kan skje. Derfor har vi opprettet en egen side på vår nettside kun til å sende inn saker hvis noen opplever problemer.</p>
</div>
{% endblock %}