{% extends "base_admin.html" %}

{% block content %}
<h1>Brukermanual for besvarelse av henvendelser</h1>
<h5>Hvordan sende svar?</h5>
<p>For å besvare en epost trenger du kun å skrive inn i det tomme feltet under selve besvarelsen. Når du er ferdig med å skrivet svaret så trykker du send. Når besvarelsen blir borte er svaret ditt sendt til brukeren.</p>
<br>
<h5>Hvor fyller jeg inn ordrenummer til brukeren?</h5>
<p>Det er ikke nødvendig å fylle inn ordrenummeret til brukeren da det blir lagret i databasen og sendt med som en varibael i besvarelsen.</p>
<br>
<h5>Hvordan logger jeg ut når jeg er ferdig med å besvare henvendelser?</h5>
<p>Når du er ferdig med å besvare henvendelser kan du trykke på knappen øverst i høyre hjørne der det står "Logg ut".</p>
<br>
<h5></h5>
{% endblock %}