{% extends "base.html" %}

{% block content %}
<div class="klage">
    <p>Beskriv problemet nedenfor</p>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.title.label }}{{ form.title }}<br>
        {{ form.epost.label }}{{ form.epost }}<br>
        {{ form.category.label }}{{ form.category }}<br>
        {{ form.ordernumber.label }}{{ form.ordernumber }}<br>
        {{ form.description.label }}{{ form.description }}<br>
        {{ form.submit }}
    </form>
</div>
{% endblock %}